body {
    padding: 0;
    margin: 0;
    background-color: rgb(189, 190, 252);
}

.header {
    height: 100px;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    font-size: 50px;
    color: rgb(138, 140, 255);
    background-color: rgb(2, 7, 51);
}

.game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: rgb(249, 251, 255);
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 350px;
    height: 350px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    border: 1px solid black;
    font-size: 50px;
}
.player1, .player2 {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 225, 225);
    height: 200px;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 0 10px rgb(255, 19, 19);
}