#container {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: black;
    font-size: 50px;
}